<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Authorize</servlet-name>
        <servlet-class>controller.Authorize</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Task</servlet-name>
        <servlet-class>controller.Task</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sprint</servlet-name>
        <servlet-class>controller.Sprint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Navigation</servlet-name>
        <servlet-class>controller.Navigation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Project</servlet-name>
        <servlet-class>controller.Project</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Story</servlet-name>
        <servlet-class>controller.Story</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectList</servlet-name>
        <servlet-class>controller.ProjectList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoryEdit</servlet-name>
        <servlet-class>controller.StoryEdit</servlet-class>
        <servlet-name>AdminAccounts</servlet-name>
        <servlet-class> controller.AdminAccounts</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Authorize</servlet-name>
        <url-pattern>/Authorize</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Task</servlet-name>
        <url-pattern>/Task</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sprint</servlet-name>
        <url-pattern>/Sprint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Navigation</servlet-name>
        <url-pattern>/Navigation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Project</servlet-name>
        <url-pattern>/Project</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Story</servlet-name>
        <url-pattern>/Story</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectList</servlet-name>
        <url-pattern>/ProjectList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoryEdit</servlet-name>
        <url-pattern>/StoryEdit</url-pattern>
        <servlet-name>AdminAccounts</servlet-name>
        <url-pattern>/AdminAccounts</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>50</session-timeout>
    </session-config>
</web-app>
